<span style="font-size: 75%; letter-spacing: -0.2em;">
  {{#if price3}}
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
  {{/if}}
  {{#if price2}}
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
  {{/if}}
  {{#if price1}}
    <span class="glyphicon glyphicon-usd"></span>
  {{/if}}
</span>
