<div class='list-box'>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
    <p><strong>{{list.title}}</strong></p>
    <p><i>{{list.description}}</i></p>
  </div>
  <!-- Table -->
  <table class="table table-hover">
    <tbody>
      {{#each list.activities as |activity|}}
        <tr>
          <td>{{#link-to 'activities.activity' activity}}{{activity.title}}{{/link-to}}</td>
          <td>{{star-rating rating=activity.rating}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
