@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=fafafaff&noise=77d4a7&density=15&opacity=30);
}

.link-text {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.link-text:hover {
    color: hotpink;
    text-decoration: underline;
}

li.rightside {
    float:right;
    line-height:34px;
  }

.flt-right {
  float: right;
  line-height:12px;
}

.sorting-link:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.activity-header {
  padding-bottom: 8px;
  padding-top: 6px;
}


.img-responsive {
  display:block;
  width:100%;
  height:100%;
  border-radius: 5px;
}



.col-lg-3,.col-md-4,.col-sm-6,.col-xs-12 {
  margin: 4px;
}

.box {
  float: left;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 125px;
  margin: 8px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

@media only screen and (max-width: 500px) {
    .box {
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-bottom: 12px;
    }
}



.box:hover {
  transform: scale(1.05, 1.05);
}



.box-title {
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  border-bottom-right-radius:5px;
  border-bottom-left-radius: 5px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;

}

.box:hover .box-title {
  height: 100%;
}

.box:hover .box-title h2 {
  top: 20%;
}

.box:hover .box-title p {
  opacity: 0.8;

}

.box .green {
  background-color: rgba(59, 181, 79, 0.8);
}

.box .purple {
  background-color: rgba(122, 47, 208, 0.83);
}

.box .brown {
  background-color: rgba(224, 86, 36, 0.8);
}

.box-title h2 {
  font-size: 18px;
  margin: 0px;
  margin-right: -50%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Boogaloo', cursive;
}

.box-title p {
  font-size: 14px;
  margin: 0px;
  padding: 4px;
  display: block;
  margin-right: -50%;
  position: absolute;
  text-align: center;
  top: 50%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .box-title h2 {
      font-size: 30px;
  }
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}
