.link-text {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.link-text:hover {
    color: hotpink;
    text-decoration: underline;
}

li.rightside {
    float:right;
    line-height:34px;
  }

.flt-right {
  float: right;
  line-height:12px;
}

.sorting-link:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.activity-header {
  padding-bottom: 8px;
  padding-top: 6px;
}
