<h1>Manage Activities</h1>
<div class="row">
  <div class="col-md-2">
    <ul>
      {{#each model as |activity|}}
        <li>{{#link-to 'admin.activities.activity' activity}}{{activity.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6 well">
    {{outlet}}
  </div>
</div>

{{#link-to 'admin.activities.new'}}New Activity{{/link-to}}
