<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{#link-to 'admin.activities.list'}}Activity List{{/link-to}} / {{model.title}}</h3>
  </div>
  <div class="panel-body">
    {{outlet}}
  </div>
</div>
