<h1>Activities</h1>


<div class="row">
  {{#each model as |activity|}}
    {{activity-tile url=activity.coverUrl title=activity.title tileDetails=activity.tileDetails}}
  {{/each}}
</div>

{{outlet}}
