<div class="container">

  <ul class="list-inline">
    <li>{{#link-to 'admin'}}Admin Home{{/link-to}}</li>
    <li>{{#link-to 'admin.activities.list'}}Activities Dashboard{{/link-to}}</li>
    <li>{{#link-to 'admin.lists'}}Lists Dashboard{{/link-to}}</li>
  </ul>
</div>

{{outlet}}
