<div class="cover"></div>
<div class="centeredChild">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
        <h1>Welcome to Oregon!</h1>
        <p>We're so glad you decided to join us for our wedding this August.
           We put together some of our favorite places to hike, eat, have
           coffee, grab a beer, and visit.
        </p>
        <p>
           Head over to the {{#link-to 'activities'}}<span class="cover-link">Guidebook</span>{{/link-to}} to start exploring our recommendations,
          or check out our {{#link-to 'lists'}}<span class="cover-link">Lists</span>{{/link-to}} for a little more organization.
        </p>
      </div>
    </div>
  </div>
</div>
