<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 text-center">
        <h1>Wedding Info</h1>
        <p>Where to go and when.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Kayaking and SUPing</h3>
        </div>
        <div class="panel-body">
          <p><b>Where?</b> <a href="https://www.google.com/maps/place/Gorge+Paddling+Center/@45.712526,-121.5118197,18z/data=!4m5!3m4!1s0x0:0xb23e5512cb4550b8!8m2!3d45.7126069!4d-121.511244">The Gorge Paddling Center.</a></p>
          <p><b>When?</b> Friday, August 26th at 1:30 PM.</p>
          <p><b>What to wear?</b> Water stuff.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome Dinner</h3>
        </div>
        <div class="panel-body">
          <p><b>Where?</b> <a href="https://www.google.com/maps/place/Best+Western+Plus+Hood+River+Inn/@45.7118842,-121.5008965,17z/data=!3m1!4b1!4m5!3m4!1s0x54960e145fdc62a3:0x11ea36160a88f395!8m2!3d45.7118842!4d-121.4987078">Best Western Hood River (on the deck).</a></p>
          <p><b>When?</b> Friday, August 26th at 5:30 PM.</p>
          <p><b>What to wear?</b> Casual - shorts, tshirts, flipflops, or whatever you'd like.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Wedding</h3>
        </div>
        <div class="panel-body">
          <p><b>Where?</b> <a href="https://www.google.com/maps/place/Mt.+Hood+Bed+%26+Breakfast,+LLC./@45.4746696,-121.5878867,17z/data=!3m1!4b1!4m5!3m4!1s0x5495ff3774ea574f:0x3cbbf56e4fb16c25!8m2!3d45.4746696!4d-121.585698">Mt. Hood Bed and Breakfast.</a></p>
          <p><b>When?</b> Saturday, August 26th. <i>Ceremony starts at at 4:00 PM.</i></p>
          <p><b>What to wear?</b> Semi-formal / whatever you feel comfortable wearing.</p>
          <p><b>How do I get there?</b> You can either drive or take the shuttle from the Best Western.</p>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Wedding Day Shuttle Schedule</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                 <th>Leaving</th>
                 <th>From</th>
                 <th>To</th>
              </tr>
             </thead>
             <tbody>
               <tr>
                 <td>3:00 PM</td>
                 <td>Best Western</td>
                 <td>Wedding</td>
               </tr>
               <tr>
                 <td>8:30 PM</td>
                 <td>Wedding</td>
                 <td>Best Western</td>
               </tr>
               <tr>
                 <td>10:00 PM</td>
                 <td>Wedding</td>
                 <td>Best Western and After Party</td>
               </tr>
             </tbody>
           </table>


        </div>
      </div>
    </div>


  </div>
</div>
