<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 text-center">
        <h1>Itineraries</h1>
        <p>Some suggestions on how to have a great day.</p>
      </div>
    </div>
  </div>
  <div class="list-container">
      {{#each model as |list|}}
        {{list-box list=list}}
      {{/each}}
  </div>
</div>
